<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1>Region</h1>
Select

<select>
    <option disabled>Choose State</option>
    <option>Ohio</option>
    <option>Texas</option>
    <option>Orlando</option>
    
</select>

<select>
    <option>Choose City</option>
    <option>Michgian</option>
    <option>Dallas</option>
    <option>Florida</option>
    
</select>

<p>San Diego has 13 000 000 citizens </p>


</body>
</html>