body {
    background-color: hsl(258, 20%, 50%);
}



h1{
    margin-top: 0.2em;
    margin-bottom: 1em;
    font-weight: normal;
    color:#4a4a4a
}

body,
input,
button,
label{
    font-family: Arial;
}

input:focus-visible{
    outline: 1px solid #858383;
}

input,
button{
    font-size: 1.2em;
    padding: 8px 15px;


width: -moz-available;
width: -webkit-fill-availible;
}

button:hover{
    background-color: #4fc991;
}

button {
    background-color: hsl(258, 20%, 50%);
}

label, 
button {
        display: block;
}
/*classes*/

.center {
    display: flex;
        justify-content: center;
        margin-top: 3em;

}

.box {
    padding: 30px;
    background-color: rgb(3, 253, 66);
    width: 350;
    box-shadow: opx 0px 5px 0px #8888 ;
}

.hidden {
    visibility: hidden;
}

.input-group {
    margin-bottom: 1.5;
}
